@import 'Position';
$font : 'Oswald', sans-serif;

.name {
  font-family: $font;
  
}
.descripcion {
  font-family: $font;
}
.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: #da6200;
    
    span{
      fill: #da6200;
      border-color: rgb(255,102,203);
    }
  }
  .site-header a {
    color: rgb(211, 94, 27);
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: rgb(255, 169, 10);
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: 0%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-image: url(../images/corazon.png);
    //background-position: top center;
    background-size: cover;
    border-radius: 5px;
    animation-name: scrolling;
    animation-duration: 80s;   
    animation-iteration-count: infinite;
  }
  @keyframes scrolling {
    0%   {background-position: top center;}
    50%  {background-position: 30% center;}
    100%  {background-position: top center;}
  }
  @keyframes scrolling2 {
    0%   {background-position: top center;}
    100%  {background-position: center center;}
  }
  
  .product-device-2 {
    position: absolute;
    width: 300px;
    height: 540px;
    border-radius: 21px;
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  
  .product-device-2::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-image: url(../images/university.png);
    //background-position: top center;
    background-size: cover;
    border-radius: 5px;
    animation-name: scrolling2;
    animation-duration: 25s;   
    animation-iteration-count: infinite;
  }
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  

  ///BUTTON
  .btn {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#727171c5;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:$font;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 15px;
  }
  .btn:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
  }
  .btn:active {
    position:relative;
    top:1px;
  }


  /*canvas*/
canvas { 
  align-items: center;
  display: block;
  margin: auto; }
/*HEADER*/

/*CLASES*/
#Creative {
  position:relative; 
  margin:0px 0px; 
  min-height: 40vh;
  max-height: 300px;
  background-image: url('../images/back.jpg');
  background-size: cover;
}

/*MAP*/
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

/*MECHA*/
.mecha{
  background-color: rgb(236, 174, 60);
  color: #0d0011;
}

.bg-name{
  //background-image: url('../images/back.jpg');
  background-size: 150%;
  min-height: 25vh;
}


.black{
  a{
    color: #da6200;
  }
}

.img{
  border-radius: 10px;
}

.bg-img1{
  background-image: url('../images/back.jpg');
  background-size: 180%;
}
.bg-img2{
  background-image: url('../images/fibra.jpg');
  background-size: cover;
}

.color{
  color: #da6200;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 